
    <li>
  <img src="<%=user.Photo%>"/> <%= user.Username %>
  
  <span >
    <%= link_to 'See Profile',  user_path(user), class: 'nav-link' %>
    <br>
 <% unless  user == current_user%>

<% if current_user.following?(user) %>
<%= render "unfollow"%>
<% else %>
<%= render "follow"%>
<% end %>
<% end %>

  </span>
</li>

