<!DOCTYPE html>
<html>
  <head>
    <title>TweeterRedesign</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script
  src="https://kit.fontawesome.com/16d2250538.js"
  crossorigin="anonymous"
></script>
  </head>

  <body>
  <div class="d-flex">
  <div class="left col-2 bg-dark">
  <div class="d-flex justify-content-around">
 <% if logged_in?%>
   <img src="<%=current_user.Photo%>" class="profile_photo"/>
<p class="text-white"><%= current_user.Username%></p>
<% end %>
  </div>
  	<% if logged_in? %>
  <div class="d-flex justify-content-between ">
  <div class="text-center text-white">
  <p class="m-auto"><%= current_user.followers.count%></p>
  <h6>Followers</h6>
  </div>
  <div class="text-center text-white">
  <p class="m-auto"><%= current_user.followed_users.count%></p>
  <h6>Following</h6>
  </div>
  </div>
  <% end %>
  <nav class="navbar ">

  <!-- Links -->
  <ul class="navbar-nav ">
  <% if logged_in?%>
    <li class="nav-item ">
          <%= link_to users_path, class: "nav-link text-light" do %>
           <i class="fas fa-home"></i> Home
           <% end %>
   <% end %>
    </li>
    
    <li class="nav-item">
      <a class="nav-link text-light" href="#"><i class="fas fa-hashtag"></i>  Discover</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="#"><i class="fas fa-link"></i>  Connect</a>
    </li>
      <li class="nav-item">
      
      <% if logged_in? %>
            
            
            <%= link_to user_path(current_user.id), class: "nav-link text-light" do %>
           <i class="fas fa-user-alt"></i> Profile
           <% end %>
<% end %>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="#"><i class="fas fa-clock"></i>  Statistics</a>
    </li>
  </ul>

</nav>


  </div>
<div class="main_page col-10">
  
  <nav class="navbar navbar-expand-lg bg-primary navbar-dark d-flex justify-content-between">
  <!-- Brand/logo -->
  
  <a class="navbar-brand" href="#"><i class="fab fa-twitter"></i></a>
  
  <!-- Links -->
  <ul class="navbar-nav d-flex ">
  	<% if !logged_in? %>
    <li class="nav-item ">
      <a class="nav-link mr-4" href="#"><i class="fas fa-pen"></i></a>
    </li>
    <li class="nav-item mr-4">
    <%= link_to 'Log In' ,new_session_path, class: "nav-link" %>
    </li>
    <li class="nav-item ">
    <%= link_to 'Sign_up' ,new_user_path, class: "nav-link " %>
      
    </li>
    <% else %>
   <li class="nav-item ">
   <a href="#" class="nav-link"> 
   <%= current_user.Username%>
   </a>
   </li>
        <li class="nav-item ">
    <%= link_to 'Log out', logout_path, method: :delete, class: "nav-link" %>
      
    </li>
    <% end %>
  </ul>
  
</nav>


 <div class="content ">

  <%= yield %>
  </div>

  </div>
  </div>
  </div>
  <footer class="footer bg-dark">
  <p class="text-light text-center">Copy Right 2020 @All Rights Reserved</p>
  </footer>
  
    
  </body>
</html>
